.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.listado {
  display: flex;
  padding: 0;
  height: 100vh;
  width: 500%;
  margin: auto;
  animation: cambio 60s infinite alternate linear;
}

.eachSlide {
  width: 100%;
  list-style: none;
}

.eachImg {
  width: 100%;
  height: 100%;
}

.subContainer {
  width: 100%;
  height: 43%;
  margin-top: 12%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.startBox {
  width: 22%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Raleway3";
  font-size: 8vh;
  color: rgba(0, 0, 0);
}

.about {
  font-family: "Raleway3";
  font-size: 8vh;
  transition: all 500ms ease;
  color: rgba(0, 0, 0);
}

.about:hover {
  font-size: 9.5vh;
  cursor: pointer;
  color: rgb(27, 26, 26);
}
.iniciar {
  padding: 1.3em 3em;
  font-size: 1.7vh;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(184, 184, 184);
  background-color: rgba(21, 20, 20, 0.819);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.iniciar:hover {
  background-color: rgba(24, 22, 22, 0.819);
  box-shadow: 0px 15px 20px rgba(21, 20, 20, 0.819);
  color: #fff;
  transform: translateY(-7px);
}

.iniciar:active {
  transform: translateY(-1px);
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  24% {
    margin-left: 0;
  }
  26% {
    margin-left: -100%;
  }
  44% {
    margin-left: -100%;
  }
  46% {
    margin-left: -200%;
  }
  64% {
    margin-left: -200%;
  }
  66% {
    margin-left: -300%;
  }
  84% {
    margin-left: -300%;
  }
  86% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
