body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Raleway";
  src: url("../src/estilos/fuentes/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway4";
  src: url("../src/estilos/fuentes/Raleway/static/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway2";
  src: url("../src/estilos/fuentes/Raleway/static/Raleway-Medium.ttf");
}
